:root {
  --branding-color: #eeeedf;
  --content-color: #393944;
  --secondary-color: #a94e41;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--content-color);
}

.container {
  margin: 0px auto;
  padding: 0;
  /* background: white; */
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
}

.hero {
  margin: 0;
  padding: 250px 0;
  background: var(--branding-color);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 72px;
}
h2 {
  font-size: 24px;
}

.contact-btn {
  margin-top: 70px;
}

.btn-branding {
  padding: 15px 30px;
  /* background: var(--secondary-color); */
  background: #85906c;
  border-radius: 10px;
  color: var(--branding-color);
  font-size: 18px;
  text-decoration: none;
}
