:root {
  --branding-color: #ece9e6;
  --content-color: #393944;
  --heading-color: #287094;
  /* --button-color: #363638; */
  --secondary-color: #d25235;

  --heading-font-family: "Playfair Display", serif;
  --brand-font-family: "Aboreto", cursive;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background: var(--branding-color);
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ece9e6, #ffffff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ece9e6, #ffffff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: var(--content-color);
}

.container {
  margin: 20px auto;
  padding: 0;
  padding-top: 1px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
}

.hero {
  margin: 20px;
  /* border: 10px solid var(--content-color); */

  background: #22c1c3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #22c0c32e, #fdbb2d3d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #22c0c32e, #fdbb2d3d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hero-content {
  padding: 150px 150px;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  /* font-family: var(--brand-font-family); */
  font-family: var(--heading-font-family);
  color: var(--heading-color);
}

nav {
  margin: 0;
  /* background: rgba(255, 255, 255, 0.6);
  border-radius: 10px; */
}

.navbar-brand,
.nav-link {
  color: var(--content-color);
}

.active {
  border-bottom: 2px solid var(--secondary-color);
}

h1 {
  font-size: 72px;
}

p {
  font-size: 16px;
  line-height: 30px;
}

.hero h2 {
  font-size: 24px;
}

.hero p {
  font-size: 18px;
}

.btn-branding {
  padding: 15px 30px;
  background: var(--secondary-color);
  border-radius: 30px;
  color: var(--branding-color);
  font-size: 18px;
}

.btn-branding-outline {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 18px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.main-section {
  margin-bottom: 300px;
}

.main-section img {
  border: 10px solid white;
  border-radius: 10px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
}

.content-section {
  padding: 100px;
}

.content-section-reverse p {
  margin-right: 60px;
}

.mail-link {
  font-size: 16px;
  border-radius: 30px;
  color: var(--heading-color);
}

.social-footer {
  /* border: 1px solid var(--secondary-color); */
  border-radius: 100%;
  /* color: var(--branding-color); */
  /* background-color: var(--content-color); */
}

/* About Page */

.container-section {
  margin: 20px;
  margin-bottom: 200px;
}

.content {
  margin: 80px 70px;
}

.container-section h1 {
  font-size: 48px;
}

.container-section h2 {
  font-size: 34px;
}

.container-section h3 {
  color: var(--content-color);
  font-size: 26px;
}

.about-photo {
  max-width: 300px;
  border-radius: 100%;
  box-shadow: 100px 0px 200px #fdbb2d86, -100px 0px 200px #22c0c3a0,
    -10px 40px 80px #d2523595;
}

.section-skills {
  margin-top: 200px;
}

.icons-list {
  list-style: none;
  padding: 0;
}

.icon-img {
  width: 80px;
  margin: 0 30px;
  padding: 0 10px;
}

.certificate-img {
  display: block;
  margin: 0 auto;
  width: 300px;
  border-radius: 4px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
}

/* My Projects page */

.img-section {
  padding: 0 80px;
  text-align: center;
}

.img-section img {
  margin: 20px 0 40px;
}

@media (max-width: 900px) {
  .hero-content {
    padding: 40px 0;
  }

  .content {
    margin: 0px auto;
    padding-top: 50px;
    text-align: center;
  }

  .about-photo {
    max-width: 200px;
  }

  .content h1 {
    font-size: 42px;
  }

  h1 {
    font-size: 44px;
  }

  p {
    font-size: 12px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }

  .main-section {
    text-align: center;
  }

  .content-section {
    padding: 0;
  }

  .content-section-reverse p {
    margin-right: 0px;
  }

  .section-skills {
    margin: 0;
  }

  .icon-list-both {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
  }

  .icon-list-both img {
    display: none;
  }

  .section-certificates h2 {
    margin: 0;
  }

  .certificate-img {
    display: none;
    width: 200px;
  }

  .img-section h3 {
    font-size: 24px;
  }

  .img-section img {
    margin: 20px 0;
  }
}
